# Ignore node_modules
Task 1/node_modules/

# # Ignore the output directory (e.g., mad folder where Webpack bundles the files)
# mad/

# Ignore log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore system files
.DS_Store
Thumbs.db

# Ignore package-lock.json if you are using yarn (optional)
Task 1/package-lock.json

# Ignore IDE/editor config files
.vscode/
.idea/
